body {
  background-color: #f8fcfb;
}
.navbar {
  transition: background-color 0.5s, transform 0.5s;
}

.px {
  padding-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 15px;
}
.color-black {
  color: black;
}
.image-overlay {
  position: relative;
}

.image-text {
  position: absolute;
  top: 200px;
  left: 100px;
  color: #000000;
}

.image-text h1 {
  font-size: 50px;
}

.image-text p {
  font-size: 16px;
}
.text-decoration {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
}

.icon-text-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Atur jarak antara teks dan ikon */
}

.icon-text {
  text-align: center;
  margin: 0 70px; /* Atur jarak antara setiap ikon dan teks */
}

.icon-text i {
  font-size: 36px;
}
.w-10 {
  width: 100px;
}

/* cover buku */
.align-text {
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
}
.book-size {
  width: 200px;
}
.book-padding {
  padding-left: 90px;
}
.padding-left{
  margin-left: 40px;
}
